<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>Wyskocz - {% block title %}{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <h1>Wyskocz</h1>
        <nav>
            <ul>
                <li>
                    <a href="{{ path('home') }}#home">Strona główna</a>
                </li>
                <li>
                    <a href="{{ path('places_list') }}#home">Lista miejsc</a>
                </li>
                <li>
                    <a href="#">Zaloguj się</a>
                </li>
            </ul>
        </nav>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
