{% extends "::base.html.twig" %}
{% block title %}Jak korzystać{% endblock %}

{% block body %}
    <article class="container">
        <h2>O Wyskocz</h2>
        bla bla
    </article>

{% endblock %}

{% block javascripts %}
{% endblock %}
