{% extends "::base.html.twig" %}
{% block title %}Jak korzystać{% endblock %}
{% block mapbox %}
{% endblock %}
{% block body %}
<div class="jumbotron">
    <h2 class="text-center">Jak korzystać z Wyskocz</h2>
    <p class="text-center">w trzech prostych krokach</p>
</div>
<div class="container" id="how-to">
    
    <div class="row">
        <h3 class="pull-left left">Do czego służy Wyskocz?</h3>
        <p class="text-right pull-right">
            Wyskocz służy do <strong>przeglądania miejsc wartych odwiedzenia</strong> w danej okolicy: zabytków, kin, teatrów, parków, restauracji i innych. Dzięki temu możesz <strong>zaplanować swój wolny czas</strong>, aby spędzić go poza domem, wraz z rodziną i przyjaciółmi.
            
            Każda atrakcja może zostać oceniona poprzez system ocen i komentarzy. Będziesz mógł zarówno poznać opinię innych na temat danej atrakcji, jak również samemu polecić innym miejsce, w którym świetnie się bawiłeś.
        </p>
    </div>
    <hr />
    
    <div class="row">
        <h3 class="pull-right right"><strong>Krok 1.</strong><br/>Załóż konto</h3>
        <p class="text-left pull-left">
            Założenie konta trwa dosłownie chwilę, a dzięki temu będziesz mieć dostęp do wielu funkcji, takich jak: <strong>oznaczanie atrakcji jako odwiedzone</strong>, <strong>dodawanie atrakcji do ulubionych</strong>, <strong>ocenianie</strong>, <strong>zamieszczanie opinii</strong>. Konto jest oczywiście <strong>bezpłatne</strong> i będziesz mógł je usunąć w każdej chwili, wraz ze wszystkimi danymi osobowymi.
            <br/><br/>
            <a href="#" class="btn btn-primary">Przejdź do rejestracji &nbsp;<span class="glyphicon glyphicon-chevron-right"></span></a>
        </p>
    </div>
    <hr />
    
    <div class="row">
        <h3 class="pull-left"><strong>Krok 2.</strong><br/>Oznacz swoje miejsce na mapie</h3>
        <p class="text-right pull-right">
            
        </p>
    </div>
    <hr />
    
    <div class="row">
        <h3 class="pull-right right"><strong>Krok 2.</strong><br/>Zapoznaj się z atrakcjami w Twojej okolicy<br/><small>(i nie tylko!)</small></h3>
        <p class="text-left pull-left">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum non volutpat ipsum. Vestibulum nulla urna, vulputate quis auctor in, mollis sit amet tellus. Nullam iaculis neque nibh, porttitor scelerisque magna ultrices sit amet. Integer nec urna eget sem imperdiet varius id at quam. Pellentesque pulvinar eleifend sem id varius. Aliquam auctor urna at lacus luctus cursus. Suspendisse vitae mi tempor, facilisis dui in, aliquam orci. Maecenas ut rutrum turpis. Curabitur dapibus massa eu tristique egestas.
        </p>
    </div>
    <hr />

</div>

{% endblock %}

{% block javascripts %}
{% endblock %}
