{% extends '::base.html.twig' %}
{% block title %}Regulamin{% endblock %}
{% block body -%}
    
    <article class="container">
        <h2>Polityka prywatności</h2>
        bla bla
    </article>
{% endblock %}
