{% extends '::admin.html.twig' %}
{% block title %}{{ entity.title }}{% endblock %}
{% block body -%}
    <h2>{{ entity.title }}</h2>
    <article>
        {{ entity.content }}
    </article>
{% endblock %}
