{% extends '::base.html.twig' %}
{% block title %}Regulamin{% endblock %}
{% block body -%}
    
    <article class="container">
        <h2>Regulamin</h2>
        Jakaśtam treść regulaminu
    </article>
{% endblock %}
