{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}
{% block title %}Rejestracja zakończona{% endblock %}
{% block fos_user_content %}
    <p class="alert alert-success" style="margin-top: 3em">Twoje konto zostało potwierdzone! Możesz teraz korzystać ze wszystkich opcji Wyskocz.
        Przejdź do <a href="#">panelu</a> lub <a href="{{ path('home') }}">strony głównej</a>.
    </p>
{% endblock fos_user_content %}
