{% extends "::admin.html.twig" %}

{% block title %}Pulpit{% endblock %}
{% block body %}
    <h2>Pulpit</h2>
    Tu można wstawić jakieś statystyki odwiedzin, ostatnio dodane miejsca itp. itd.
{% endblock %}