{% extends "::base.html.twig" %}

{% block title %}Lista miejsc{% endblock %}
{% block body %}
    <h2>Places list</h2>
    <ul>
        <li>Place 1</li>
        <li>Place 1</li>
        <li>Place 1</li>
        <li>Place 1</li>
        <li>Place 1</li>
        <li>Place 1</li>
        <li>Place 1</li>
        <li>Place 1</li>
        <li>Place 1</li>
        <li>Place 1</li>
        <li>Place 1</li>
        <li>Place 1</li>
        <li>Place 1</li>
        <li>Place 1</li>
        <li>Place 1</li>
        <li>Place 1</li>
        <li>Place 1</li>
    </ul>
{% endblock %}